body {
            text-align: center;
            background-color: #77bfd4;
        }
        ul {
            display: inline-block;
        }
        img {
            width: 500px;
            height: 400px;
            border-color: gray;
            border-radius: 10%;
            
        }
        .h1 {
            padding: 20px;
        }
        .navbar {
            background-color: gray;
        }
        .footer {
            background-color: gray;
        }
        .h1 {
            background-color: #37a2bf;
        }