
body {
	text-align: center;
	color: white;
	background-image: url(images/tbobs/background2.jfif);
	}
div {
	text-align: left;
	}
	
#body2 {
		background-image: url(images/mmfr/background.jpg)
}
#body3 {
	background-image: url(images/bttf/background.jpg)
}
#body4 {
	background-image: url(images/r/background.PNG)
}
#body4 {
	background-image: url(images/hftw/background.jfif)
}